<h4>admin top （管理者トップページ）</h4>

<div class="container px-auto">
  <div class="row">
    <h3 class="page-name">注文履歴一覧</h3>
  </div>

  <div class="row">
    <table class="table table-hover table-inverse col-md-12 px-auto">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(order.id) do %>
            <p><%= order.created_at%><p>
            <% end %>
          </td>
          <td><%= order.customer.first_name %><%= order.customer.last_name %></td>
              <% sum = 0 %>
          <td>
            <% order.order_details.each do |order_detail| %>
              <% sum += order_detail.amount %>
            <% end %>
            <%= sum %>
          </td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto">
      <%= paginate @orders %>
    </div>
  </div>
</div>
