<h4>public deliveries index</h4>
<div class="container">
  <div class="row">
    <h3 class="page-name">配送先登録/一覧</h3>
  </div>

  <div class="row">
    <%= form_with model: Address.new, url: public_addresses_path, method: :post do |f| %>
    <table>
      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <td><%= f.text_field :postal_code %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name %></td>
        <td></td>
        <td><%= f.submit'新規登録' , class: "btn btn-success" %></td>
      </tr>
    </table>
    <% end %>
  </div>

  <div class="row">
    <table class="table table-hover table-inverse col-lg-9">
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <%= link_to edit_public_address_path(address.id) , class: "btn btn-success" do %>
            <span>編集する</span>
            <% end %>

            <%= link_to public_address_path(address.id), class: "btn btn-danger" , method: :delete, "data-confirm" => "本当に削除しますか？" do %>
            <span>削除する</span>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>